<li>
    <p>
        <% if((locals.user) && (locals.user.id == comment.user.id)){ %>

        <small>
            <a href="/comments/destroy/<%= comment.id %>">x</a>
        </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small style="font-weight: 900">
            <%=comment.user.name %>
        </small>
    </p>
</li>