
    <h1> Codeial / <%= title %></h1>
<form action="/users/sign-up"> 
<input type="submit" value="Sign Up">
</form>

<form action="/users/sign-in"> 
    <input type="submit" value="Sign In">
    </form>