<link rel="stylesheet" href="/css/home.css">



<section id="home_content">
    <h1> <%= title %></h1>
<div id="main_content">
<div class="about">
Welcome, adijawwev dakfjajiews dfdkajeoiw dskfasijfjmsdlk fasdfioawjefnsakdf aw efdjoasdjfoi aoisdfjoiawenkdj fasdfijaslkfksdfak sflkv erwijfasd fasldfjoiawej adn sdhxioajsf sad flkajierjfaw sfnklsejriawksdnf ,asefoifjas odkfaklsdfj o
</div>

<div class="events"> 
    <div>
        <form action="/users/sign-up">
            <input type="submit" value="Sign Up">
        </form>
        
        <form action="/users/sign-in">
            <input type="submit" value="Sign In">
        </form> 
    </div>
    <div>
        2
    </div>
   
</div>
</div>

</section>



