<link rel="stylesheet" href="/css/home.css">



<section id="home_content">
    <h1> <%= title %></h1>
    <div id="main_content">
        <div class="about">
            <h4>Event Publishing Web application</h4>
            <p>
                Event publising web application helps in publishing your events to every one. You need to register for
                publishing your event! but no need to register if you want to see public events.
            </p>
            <h4>How it works?</h4>
            <p>Step 1: Click on Sign In button.
                Step 2: Register yourself if you are first time user else Sign In</p>
            Step 3: After validation your credentials from database you get event form

        </div>
        <div class="events">
            <div id="home_button">
                <h2>
                    Sign In for publish events
                </h2>

                <!--         
        <form action="/users/sign-in">
            <input class="btn btn-default" type="submit" value="Sign In">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
              </button>
        </form>  -->
            </div>

            <section id="feed-posts">
                <h4>Posts</h4>
                <% if(locals.user){ %>

                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="50" rows="4" placeholder="Type here...." required></textarea>
                    <input type="submit" value="Post">
                </form>

                <% } %>



                <div id="posts-list-container">

                    <% for(post of posts){ %>

                    <%- include('_post') -%>


                    <%} %>

                </div>
            </section>
        </div>
    </div>

</section>