
<link rel="stylesheet" href="/css/profile.css">

    <h2>Codeial Profile page</h2>

    <h1>Event List</h1>
 
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>

    <div>
        <p>
            Hello
        </p>
    </div>