
<link rel="stylesheet" href="/css/profile.css">

    <h2>Codeial Profile page</h2>

   <p>Name: <%= user.name %></p>
   <p>Email: <%= user.email %></p>

   <form action="/users/distroy-session" method="POST">
    <input type="submit" value="Sign Out">
 </form>

 