//  change :: add styling for the chat box
#user-chat-box{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px dashed gray;
    height: 300px;
    width: 250px;
    background: white;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;

    #chat-messages-list{
        list-style: none;
        padding: 10px;
        height: 70%;
        background-color: white;
        overflow: auto;

        .other-message{
            text-align: left;
            padding: 5px;
            span{
                display: inline-block;
                padding: 15px;
                background-color: blueviolet;
            }
        }

        .self-message{
            text-align: right;
            padding: 5px;

            span{
                display: inline-block;
                padding: 15px;
                background-color: cornflowerblue;
            }

        }
    }
    #chat-message-input-container{
        height: 24%;
        width: 100%;
        display: flex;
        flex-direction: row;

        #chat-message-input{
            height: 50%;
            width: 70%;
            border-style: none;
            border: 1px solid purple;
            border-radius: 5% 5% 5% 5%;
            padding-left: 10px;

        }
        #send-message{
            border-style: none;
            height: 50%;
            width: 30%;
            font-size: 20px;
            color: none;
            color: white;
            background: purple;
            border-radius: 5%;
            
            
        }
    }
}